/* 字型 ----------------------------------------------------------------------- */

.u-font {
  &--TaipeiSansTC {
    font-family: Taipei Sans TC, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  }
  &--Arial {
    font-family: 'Arial';
  }
  &--ArialBlack {
    font-family: 'Arial Black';
  }
}

/* /字型 ----------------------------------------------------------------------- */

/* 字級 ----------------------------------------------------------------------- */
.u-fontSize {
  &--49 {
    font-size: 49px;
  }
}
/* /字級 ----------------------------------------------------------------------- */

/* 字重/字租 -------------------------------------------------------------------- */

.u-fontWeight {
  &--bold {
    font-weight: bold;
  }
  &-500 {
    font-weight: 500;
  }
  
  &-400 {
    font-weight: 400;
  }
  
  &-300 {
    font-weight: 300;
  }
}

/* /字重/字租 -------------------------------------------------------------------- */

/* 斜體、傾斜等字體樣式 --------------------------------------------------------------- */

.u-fontStyle-italic {
  font-style: italic;
}

/* /斜體、傾斜等字體樣式 --------------------------------------------------------------- */

/* 行距 ----------------------------------------------------------------------- */
.u-lineHeight {
  &--200 {
    line-height: 2;
  }
  &--150 {
    line-height: 1.5;
  }
  &--130 {
    line-height: 1.3;
  }
  &--115 {
    line-height: 1.15;
  }
  &--100 {
    line-height: 1;
  }
}
/* /行距 ----------------------------------------------------------------------- */

/* 字間 ----------------------------------------------------------------------- */
.u-letterSpacing {
	&--35-em {
		letter-spacing: 0.35em;
	}
}
/* /字間 ----------------------------------------------------------------------- */

/* 英文字元的大小寫 ----------------------------------------------------------------- */
.u-textTransform {
  // 定義所有字母均為大寫
  &--uppercase {
    text-transform: uppercase;
  }
  // 定義所有字母均為小寫
  &--lowercase {
    text-transform: lowercase;
  }
  // 定義單字的第一個字母大寫，其他字母小寫
  &--capitalize {
    text-transform: capitalize;
  }
}
/* 英文字元的大小寫 ----------------------------------------------------------------- */
